# ===========================
# Python / Django
# ===========================
__pycache__/
*.pyc
venv/
*.sqlite3
*.log
media/
*.env

# ===========================
# React / Node
# ===========================
frontend/node_modules/
frontend/build/
frontend/.pnp/
frontend/.pnp.js
frontend/coverage/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.DS_Store

# ===========================
# OS / IDE
# ===========================
.DS_Store
.vscode/
.idea/
Thumbs.db
