# Database (MySQL)
# PyMySQL>=1.0.2
# cryptography>=41.0.0
# mysqlclient>=2.2.0


# Core Django
Django>=4.2,<5.0
django-debug-toolbar
dj-database-url==1.2.0
psycopg2-binary

# Django REST Framework
djangorestframework
djangorestframework-simplejwt
drf-spectacular==0.27.2

# Redis & Caching
redis
django-redis
channels_redis==4.1.0

# Celery (Async Tasks)
celery
django-celery-results

# File Upload / Images
Pillow

# Environment variables
python-dotenv

# CORS
django-cors-headers

# Filtering & search support
django-filter

# Production helpers
gunicorn

# Logging & utilities
pytz

# export engine
django-import-export

# channels
channels
reportlab

# linting for CI flow
flake8
black
isort